.header {
    text-align: center;
    background-color: CornflowerBlue;
  }
  
  .about-me {
    opacity: 0.5;
    font-size: 20px;
  }
  
  .title {
    font-weight: bold;
  }
  
  h1 {
    color: Azure;
  }
  
  body {
    background-image: url("https://content.codecademy.com/courses/learn-css-selectors-visual-rules/hypnotize_bg.png");
    font-family: Georgia;
  }